node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
!.env.development.example
!.env.production.example

# Production keystore - keep secure!
android/app.keystore
android/app.dev.keystore
android/app.prod.keystore
android/app/google-services.json
android/app/google-services.dev.json
android/app/google-services.prod.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Android build artifacts
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/

functions/lib
package-lock.json
pglite-debug.log

functions/service-account-key.json

app-output
